.App {
  text-align: center;
  height: 100vh;
  margin: 0;
}

.check-board {
  display: inline-flex;
  flex-wrap: wrap;
  width: 60%;
  height: 60vh;
}

.check-box {
  width: 30%;
  height: 33%;
  border: 1px solid black;
}